name: Despertar MesAgua
on:
  schedule:
    - cron: '0 4,10,18,22 * * *'
  workflow_dispatch:

jobs:
  ping_app:
    runs-on: ubuntu-latest
    steps:
      - name: Visitar la App
        # continue-on-error hace que aunque Streamlit de error, el proceso siga en verde
        continue-on-error: true 
        run: |
          # --max-redirs 5 evita el bucle infinito que vimos en tu log
          # --silent para que no llene el log de basura
          # -I para pedir solo las cabeceras
          curl -I -L --max-redirs 5 --max-time 20 --user-agent "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36" https://mesagua.streamlit.app/
